@import "../../source/scss/base/general.scss";
.site_menu{
  display: flex;
  align-items: center;
  .navigation{
      ul{
          @extend .no-list;
          display: flex;
          align-items: center;
          gap: 30px;
          li{
              a{
                  color: $cwhite;
              }
          }
      }
  }
}